#$ vendor/bin/phpstan analyze

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    phpVersion: 70400
    level: 6
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    paths:
        - inc/
    ignoreErrors:
        - '#Variable \$popup might not be defined.#'

# See full example in phpstan-full.neon
